* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(115, 118, 121);
}

ul,
ol,
li {
  list-style: none;
}

:root {
  --bg2: rgb(248, 249, 249);
  --bg: #c10bfd;
  --bg3: #f1f2f3;
  --bg4: rgb(92, 23, 120);
  --shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.078);
  --shadow2: 0 5px 5px 5px rgba(10, 10, 10, 0.103);
  --color: #555;
  --color1: #666;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: var(--bg3);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Flex", sans-serif;
}

.propaganda {
  height: 60px;
  width: 80%;
}

.propaganda img {
  height: 100%;
  width: 100%;
}

header {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* padding-right: 10px; */
}

.banner {
  background-color: var(--bg);
  padding-left: 10vw;
  padding-right: 10vw;
  height: 150px;

  width: 100%;
}

.logos {
  padding-top: 10px;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logos img {
  height: 100%;
}

/* Criação da caixa de texto com o icone de pesquisa */
.input-box {
  position: relative;
  width: 50%;
}

.input-box input {
  padding-left: 10px;
  border: none;
  outline: none;
  /* padding: 10px 10px 10px 35px; */
  border-radius: 5px;
  border: 0;
  height: 40px;
  width: 100%;
}

.input-box i {
  position: absolute;
  left: 95%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color);
}

.input-box .icone {
  color: var(--bg);
}

.icon-texto {
  color: aliceblue;
  font-weight: 600;
  gap: 10px;
  /* background-color: brown; */
  display: flex;
  flex-direction: row;
  width: 190px;
}

.icon {
  font-size: 25px;
  color: var(--bg2);
}

.info {
  height: 50px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: end;
}

.cep {
  gap: 10px;
  display: flex;
  width: 25%;
}

.cep a {
  font-weight: 700;
}

.cep .icone {
  color: var(--bg2);
}

.links {
  font-weight: 600;

  height: 30px;
  width: 75%;
}

.links menu {
  display: flex;
  justify-content: space-between;
  /* gap: 20px; */
  padding-right: 10px;
  height: 100%;
}

.info a {
  color: var(--bg2);
}

.info li {
  display: flex;
  align-items: center;
}

.info li:hover {
  border-radius: 3px;
  padding: 5px 5px;
  background-color: var(--bg4);
}

.info-produtos {
  width: 100%;
  box-shadow: var(--shadow);
  padding-left: 10vw;
  padding-right: 10vw;
  height: 50px;
  background-color: var(--bg2);
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

.local {
  width: 25%;
  font-weight: 600;
}

.info-produtos menu {
  width: 79%;
  justify-content: space-between;
  display: flex;
}

.info-produtos a:hover {
  color: var(--bg4);
}

.mercado {
  width: 19%;
  font-weight: 600;
  display: flex;
  justify-content: end;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  align-items: center;
}

.baixar {
  height: 60px;
  width: 80%;
}

.baixar img {
  height: auto;
  width: 100%;
}

.menu-cards {
  margin-top: 3vh;
  width: 100%;
  /* background-color: #857d7f; */
}

.secao-recomendados {
  padding-left: 10vw;
  padding-right: 10vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: auto;
  /* background-color: #7296bb; */
}

.titulo-secao {
  height: 30px;
  width: 100%;
  /* background-color: aqua; */
}

.titulo-secao h2 {
  color: var(--color1);
}

.container-cards {
  /* padding-left: 15vw;
  padding-right: 15vw; */
  display: flex;
  /* permite a quebra de linhas */
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
  /* height: auto; */
}

.cards {
  height: 350px;
  width: 270px;
  box-shadow: var(--shadow2);
  border-radius: 10px;
  /* background-color: #ed0030; */
  /* display: flex; */
}

.card-produto {
  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.card-produto img {
  height: auto;
  width: auto;
}

.detalhes-produtos {
  border-radius: 0 0 10px 10px;
  background-color: var(--bg2);
  padding-left: 10px;
  padding-right: 10px;
  gap: 5px;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  padding-block: 10px;
  height: 50%;
  width: 100%;
}

.detalhes-produtos span {
  /* display: flex;
  align-items: end; */
  font-weight: 600;
}
.detalhes-produtos img {
  width: 20px;
  height: auto;
}
footer {
  background-color: var(--bg);
  margin-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  height: 200px;
  width: 100%;
}
.logo {
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60vw;
  margin-left:80% ;
  /* align-items: center; */
}
.logo img {
  width: 200px;
  height: auto;
}
.icons2 {
  display: flex;
  width: 200px;
  gap: 20px;
  /* background-color: #b55a5a; */
}
.icons2 .icons-social {
  font-size: 1.332rem;
  color: #fff;
}
.localizacao {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
@media (max-width: 760px) {
  .propaganda {
    height: 15px;
  }
  header {
    display: none;
  }
  .secao-recomendados {
    padding-right: 5vw;
    padding-left: 5vw;
  }
  .titulo-secao {
    display: flex;
    justify-content: center;
  }
  .container-cards {
    padding-block: 20px;
    justify-content: center;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .logo {
     margin-left:50% ;
    /* flex-direction: column; */
    gap: 10px;
  }
  .localizacao {
    text-align: center;
  }
}
